<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<configSections>
		<section name="db4oanalyzer" type="Db4oAnalyzer.Core.Cfg.Db4oAnalyzerSection, Db4oAnalyzer" />
	</configSections>
	
	<db4oanalyzer>
		<references>
		
			<add name="System" framework="true" />
			<add name="Db4objects.Db4o.dll" />
		
      <add name="Db4oAnalyzer.Test.dll"/>
      
					
		</references>
	</db4oanalyzer>

</configuration>

<!--configuration>
      <configSections>
        <sectionGroup name="grupo1" type="System.Configuration.ConfigurationSectionGroup, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" >
            <section name="Db4oAnalyzerSection" type="Db4oAnalyzer.Core.Cfg.Db4oAnalyzerSection, Db4oAnalyzer" />
        </sectionGroup>
    </configSections>
    
      <grupo1>
        <Db4oAnalyzerSection>
            <references>
				<add assemblyname="TestEntities.dll" />
        		<add assemblyname="System.Drawing" />
            </references>
        </Db4oAnalyzerSection>
    </grupo1>
</configuration-->
